@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
      @apply font-sans;
      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .border-text {
    width: 100vw; /* Adjust as needed */
    overflow: hidden;
  }

  .border-text::before,
  .border-text::after {
    content: "Overview Overview Overview Overview Overview Overview Overview";
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--font-urbanist);
    font-size: 30px;
    color: #5AC3B0;
    word-spacing: 15px;
  }
