@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
      @apply font-sans;
      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
      }

      body::before {
        content: '';
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('background.avif'); /* Add your image path */
        background-size: auto;  
        background-repeat: repeat;
        opacity: 0.035; /* Adjust for desired transparency level */
        z-index: -1; /* Ensure the overlay is behind the content */
      }  
    }
  }

  .border-text {
    width: 100vw; /* Adjust as needed */
    overflow: hidden;
  }

  .border-text::before,
  .border-text::after {
    content: attr(data-content);
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--font-urbanist);
    font-size: 30px;
    color: #5AC3B0;
    word-spacing: 15px;
  }

  .btn-generic {
    @apply bg-naples-yellow text-black/60 font-bold py-2 px-4 rounded transition-all duration-200;
  }

  .btn-generic:hover {
    @apply bg-naples-yellow bg-opacity-50;
  }